<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poeltl Unlimited</title>
    <link rel="stylesheet" type="text/css" href="../static/mainpage.css">
</head>
<body>
    <div class="navbar">
        <ul>
        </ul>
    </div>
    <header>
        <div class="container">
            <h1>POELTL UNLIMITED</h1>
        </div>
    </header>
    <main>
        <div class="container">

        </div>
    </main>
    <div class="footer-container">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="mailto:giesscollin@gmail.com">Contact</a></li>
            </ul>
            <p class="copyright">Collin Giess © 2022</p>
        </footer>
    </div>
</body>
</html>